/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Bottom bar
 */

.above-bottom-bar {
  position: relative;
  margin-bottom: 100px;
}

.bottom-bar {
  position: absolute;
  padding-left: 15px;
  padding-right: 35px;
  bottom: 0;
  width: 100%;
  height: 100px;
}

/*
 * Chat window
 */

.chat-window{
  display:flex;
  flex-direction:column;
  height:100vh;
  padding-top: 70px;
}

.chat-messages{
  flex: 1;
  height:100%;
  overflow: auto;
  padding-right: 15px;
}

.chat-input{
  border-top: 1px solid #999;
  padding: 2px 5px 20px 5px;
}

.chat-input-text { 
  width: 60%; 
  min-height: 40px; 
  max-width: 60%;
}


/*
 * Editing
 */

.chat-input>.input-group>.left-addon.edit {
  padding: 0px;
  height: 82px;
  min-width: 50%;
  max-width: 250px;
}

.edit-buttons {
  display: flex;
  float: left;
  height: 100%;
  align-items: stretch;
  align-content: stretch;
  width: 30%;
  flex-wrap: wrap;
}
.edit-buttons>button{
  color: #EEE;
  border-radius: 5px;
  flow-basis:25px;
  flex-grow:1;
  padding: 0px;
  margin: 1px;
}

.selected-text{
  width: 70%;
  padding: 5px;
  min-height: 80px;
  max-height: 1em;
  float: right;
  overflow: hidden;
  white-space:normal;

  flex-grow:4;
  flex-basis:100%;
}

/*
 * Messages
 */

.message
{
  list-style: none;
  list-style-position: outside;
  padding: 10px;
  box-shadow: 2px 2px 3px #888888;
  margin-bottom: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.message.active{
  border: 2px solid yellow;
}

.message-title {
  display: block;
  width: 100%;
  border-bottom: 1px solid #999
}

.message-text {
  display: block;
  margin-top: 5px;
  white-space: normal;
  overflow: hidden;
}

.message-sent {
  color: #DDD;
  background-color: #444;
  margin-left: 30%;
}

.message-received {
  background-color: #EEE;
  margin-right: 30%;
}

.corrected {
  color: red !important;
}

li time {
  float: right;
	font-style: italic;
	color: rgba(0,0,0,.7);
}

/*
 * Corrections
 */

.correction {
  color: red;
}

.edit-additions {
  display: none;
  border-top: 1px solid #999;
}

.edit-additions>button{
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1.2em;
  border: none;
  position: relative;  
}